/* mixins */
/*placeholder*/
/*transition*/
/* transformations */
/* box-shadows */
/* border-radius */
/* blocks */
.btn {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 1;
  color: #000;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  .btn:hover {
    color: #ee3643; }
  .btn:active {
    color: rgba(0, 0, 0, 0.3); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  font-family: 'Cuprum', sans-serif;
  line-height: normal;
  color: #000; }

.inner {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto; }

/* header */
.main-header {
  height: 320px;
  background-color: #f1f5f7;
  /* logo */
  /* search */
  /* bookmarks */
  /* backed */
  /*order*/
  /* info */
  /* contacts */
  /* user-block */ }
  .main-header__wrapper-status-bar {
    width: 100%;
    background-color: #293449; }
  .main-header__status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px; }
  .main-header__wrapper-logo-search {
    flex-basis: 490px;
    display: flex; }
  .main-header__logo {
    flex-basis: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
    -moz-box-shadow: 0 5px 0 0 #b52933;
    box-shadow: 0 5px 0 0 #b52933;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: default; }
    .main-header__logo:hover {
      background-color: #ca2c37; }
  .main-header__search {
    flex-basis: 270px;
    height: 45px;
    position: relative;
    font-size: 17px;
    line-height: 1;
    color: #ffffff;
    background: #000; }
  .main-header__form {
    display: flex; }
  .main-header__field {
    position: relative;
    width: 100%;
    min-width: 150px;
    color: #ffffff;
    height: 45px;
    padding-left: 44px;
    outline: none;
    border: none;
    background-color: #293449;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .main-header__field::-webkit-input-placeholder {
      color: #fff; }
    .main-header__field:-moz-placeholder {
      color: #fff; }
    .main-header__field::-moz-placeholder {
      color: #fff; }
    .main-header__field:-ms-input-placeholder {
      color: #fff; }
  .main-header__loupe1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 17px;
    margin-left: 17px;
    margin-top: 12px;
    background: transparent url("../../../img/sprite/sprite.png") no-repeat 0 0;
    opacity: 0.3; }
  .main-header__loupe2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 17px;
    margin-left: 17px;
    margin-top: 12px;
    background: transparent url("../../../img/icon-search.png") no-repeat center;
    display: none; }
  .main-header__field:hover {
    background-color: #212a3a; }
  .main-header__field:hover ~ .main-header__loupe1 {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-header__field:focus ~ .main-header__loupe1 {
    display: none; }
  .main-header__field:focus ~ .main-header__loupe2 {
    display: block; }
  .main-header__field:focus {
    background-color: #ffffff;
    color: #000; }
    .main-header__field:focus::-webkit-input-placeholder {
      color: transparent; }
    .main-header__field:focus:-moz-placeholder {
      color: transparent; }
    .main-header__field:focus::-moz-placeholder {
      color: transparent; }
    .main-header__field:focus:-ms-input-placeholder {
      color: transparent; }
  .main-header__bookmarks {
    display: flex;
    flex-basis: 145px;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .main-header__bookmarks:hover {
      background-color: #212a3a; }
  .main-header__bookmarks-href {
    display: flex;
    padding-left: 45px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 45px;
    color: #ffffff;
    text-decoration: none; }
  .main-header__bookmarks-href::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 17px;
    margin-top: 12px;
    width: 16px;
    height: 16px;
    background: transparent url("../../../img/sprite/sprite.png") no-repeat 0 -27px;
    opacity: 0.3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-header__bookmarks:hover .main-header__bookmarks-href::after {
    opacity: 1; }
  .main-header__basket {
    display: flex;
    flex-basis: 154px;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .main-header__basket:hover {
      background-color: #212a3a; }
  .main-header__basket-href {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 45px;
    height: 45px;
    width: 100%;
    color: #ffffff;
    text-decoration: none; }
  .main-header__basket-href::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    margin-left: 17px;
    margin-top: 12px;
    background: transparent url("../../../img/sprite/sprite.png") no-repeat 0 -53px;
    opacity: 0.3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-header__basket:hover .main-header__basket-href::after {
    opacity: 1; }
  .main-header__order {
    flex-basis: 150px;
    display: flex;
    position: relative;
    background: #63a63e;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .main-header__order:hover {
      background-color: #5fbb2d; }
  .main-header__order-href {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    color: #ffffff;
    text-decoration: none; }
  .main-header__wrapper-info {
    width: 100%; }
  .main-header__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px; }
  .main-header__name {
    width: 195px;
    font-size: 16px;
    line-height: 1.43;
    font-style: italic;
    color: #ee3643; }
  .main-header__contacts {
    display: flex;
    flex-direction: column;
    width: 270px;
    min-width: 220px; }
  .main-header__phone {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-bottom: 5px;
    border: 3px solid #ffffff;
    display: flex;
    font-size: 21px;
    line-height: 1;
    color: #e9292a; }
  .main-header__phone::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 19px;
    height: 19px;
    background: transparent url("../../../img/sprite/sprite.png") no-repeat 0 -79px;
    margin-top: 10px;
    margin-left: 16px; }
  .main-header__address {
    font-size: 14px;
    line-height: 1.7;
    color: #32425c; }
  .main-header__user-block {
    position: relative;
    display: flex;
    flex-wrap: wrap; }
  .main-header__sign-in {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 48px; }
  .main-header__sign-ico {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 19px;
    height: 17px;
    margin-top: 13px;
    margin-left: 15px;
    background: transparent url("../../../img/sprite/sprite.png") no-repeat -31px -110px;
    opacity: 0.3; }
  .main-header__sign-in:hover .main-header__sign-ico {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .main-header__sign-up {
    margin-bottom: 10px; }

.main-navigation__bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.main-navigation__item {
  display: flex;
  flex-grow: 1; }

.main-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #32425c;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 5px solid #293449; }
  .main-navigation__link:hover {
    background-color: #293449; }
  .main-navigation__link:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.4); }

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .features__item {
    position: relative;
    flex-basis: 300px;
    min-width: 240px;
    height: 123px;
    background-color: rgba(0, 119, 33, 0.56); }
  .features__item:not(:last-child) {
    margin-right: 10px; }
  .features__item:not(.features__ico) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px; }
  .features__item_yellow {
    background-color: #f6b22d; }
  .features__item_blue {
    background-color: #4aafde; }
  .features__item_purple {
    background-color: #cc79d1; }
  .features__name {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px; }
  .features__more {
    cursor: pointer; }
  .features__more_yellow {
    background-color: #dda028;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .features__more_yellow:hover {
      background-color: #c28c21; }
    .features__more_yellow:active {
      background-color: #ab7d24; }
  .features__more_blue {
    background-color: #429dc7;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .features__more_blue:hover {
      background-color: #3981a3; }
    .features__more_blue:active {
      background-color: #35728f; }
  .features__more_purple {
    background-color: #b76dbc;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .features__more_purple:hover {
      background-color: #9f5fa3; }
    .features__more_purple:active {
      background-color: #8e5592; }
  .features__link {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    line-height: 1.28;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  .features__ico {
    position: absolute;
    top: 50%;
    right: 0;
    background: transparent url("../../../img/sprite/sprite.png") no-repeat; }
  .features__ico_materials {
    width: 44px;
    height: 65px;
    background-position: -2px -148px;
    margin-top: -32px;
    margin-right: 43px; }
  .features__ico_tools {
    width: 75px;
    height: 61px;
    background-position: -2px -236px;
    margin-top: -32px;
    margin-right: 28px; }
  .features__ico_technique {
    width: 78px;
    height: 62px;
    background-position: -2px -320px;
    margin-top: -31px;
    margin-right: 31px; }
