  /* управление каталогом интернет магазина */

.products{
  display: flex;
  flex-direction:column;
  margin-bottom:20px;
  &__header{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:29px 0;
    margin-bottom:20px;
    background-color: #f7f3ec;

  }
  &__body{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left:-20px;
  }
  &__item{
    position: relative;
    width:220px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height:320px;
    margin-left:18px;
    margin-bottom:20px;
    padding-top:175px;
    border:1px solid #e5e5e5;
  }
  &__new{
      position: absolute;
      width: 60px;
      height: 59px;
      z-index:10;
      top: 0;
      right: 0;
      background: transparent url("../../../img/new-flag.png")no-repeat center;
      display: none;
    }
  &__new-active{
    display: block;
  }

  &__title{
    font-size:30px;
    line-height:1;
    color: #32425c;
    padding-left:30px;
  }
  &__link {
  }
  &__price{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    width:140px;
    height:38px;
    margin-bottom:20px;
    background-color: #ee3643;
    @include border-radius(3px);
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    &::after{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      right: -19px;
      border: 19px solid #ffffff;
      border-left-color: #ee3643;
    }
  }
  &__old-price{
    font-size:17px;
    line-height:1;
    color: #999999;
    text-decoration: line-through;
    visibility: hidden;
  }
  &__old-price-active{
    visibility: visible;
  }
  &__name{
    font-size:18px;
    line-height:1.11;
    font-weight:bold;
    color: #000;
    padding:0 30px;
    text-align: center;
  }
  &__bosh-9000{
    background: transparent url("../../../img/bosh-9000.jpg")no-repeat;
  }
  &__bosh-3000{
    background: transparent url("../../../img/bosh-3000.jpg")no-repeat;
  }
  &__bosh-6000{
    background: transparent url("../../../img/bosh-6000.jpg")no-repeat;
  }
  &__bosh-2000{
    background: transparent url("../../../img/bosh-2000.jpg")no-repeat;
  }
  &__ico{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 175px;
    background-position: center 20px;
    @include transition(all, 0.2s, linear);
  }
  &__item:hover{
    @include box-shadow(0, 3px, 25px, 7px, rgba(41,52,73, 0.2));
    @include transition(all, 0.2s, ease);
  }
}

.purchase {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 175px;

  &__buy {
    display: flex;
    justify-content:center;
    align-items: center;
    width:135px;
    height:35px;
    margin-bottom:10px;
    font-size: 14px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #63a63e;
    cursor: pointer;
    @include box-shadow(0, 3px, 1px, 0, #367315);
    @include border-radius(3px);
    &:hover{
      background-color: #5fbb2d;
    }
    &:active{
      background-color: #518534;
      @include box-shadow(0,0,0,0, transparent);
    }
  }
  &__bookmarks{
    display: flex;
    justify-content:center;
    align-items: center;
    width:135px;
    height:38px;
    font-size: 14px;
    line-height: normal;
    color: #32425c;
    border:2px solid #63a63e;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    @include border-radius(3px);
    &:hover{
      border-color: #32425c;
    }
    &:active{
      border-color: #c1c6ce;
      color: rgba(50, 66, 92, 0.3);
    }
  }
}
.purchase{
  opacity:0;
  @include transition(all, 0.2s, linear);
}
.products__item:hover .products__ico {
  opacity:0;
}
.products__item:hover .purchase {
  opacity: 1;
}