.categories{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  margin-bottom:20px;
  &__item {
    position: relative;
    width:300px;
    min-width:240px;
    height:123px;
    background-color: rgba(0, 119, 33, 0.56);
  }
  &__item:not(:last-child){
    margin-right:10px;
  }
  &__item{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    padding-top: 20px;
    padding-left: 20px;
  }
  &__item_yellow{
    background-color: #f6b22d;
  }
  &__item_blue{
    background-color: #4aafde;
  }
  &__item_purple{
    background-color: #cc79d1;
  }
  &__name{
    font-size:24px;
    line-height:1.25;
    font-weight:bold;
    color: #ffffff;
    margin-bottom:20px;
  }
  &__more{
    cursor: pointer;
  }
  &__more_yellow{
    background-color: #dda028;
    @include transition(background-color, 0.2s, ease);
    &:hover{
      background-color: #c28c21;
    }
    &:active {
      background-color: #ab7d24;
    }
  }
  &__more_blue{
    background-color: #429dc7;
    @include transition(background-color, 0.2s, ease);
    &:hover{
      background-color: #3981a3;
    }
    &:active {
      background-color: #35728f;
    }
  }
  &__more_purple{
    background-color: #b76dbc;
    @include transition(background-color, 0.2s, ease);
    &:hover{
      background-color: #9f5fa3;
    }
    &:active {
      background-color: #8e5592;
    }
  }
  &__link{
    display: inline-block;
    padding:10px;
    font-size:14px;
    line-height:1.28;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    &:active {
      @include box-shadow-i(inset, 0, 2px, 1px, 0, rgba(0,0,0, 0.2));
      @include translate(0, 1px);
    }
  }
  &__ico{
    position: absolute;
    top: 50%;
    right:0;
    background: transparent url("../../../img/sprite/sprite.png")no-repeat;
  }
  &__ico_materials{
    width:44px;
    height:65px;
    background-position: -2px -148px;
    margin-top:-32px;
    margin-right:43px;

  }
  &__ico_tools{
    width:75px;
    height:61px;
    background-position: -2px -236px;
    margin-top:-32px;
    margin-right:28px;

  }
  &__ico_technique{
    width:78px;
    height:62px;
    background-position: -2px -320px;
    margin-top: -31px;
    margin-right:31px;
  }
}