@import "../mixins/mixin";
.write-us{
  position: fixed;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  top:50%;
  left:50%;
  width:620px;
  height:435px;
  margin-left:-310px;
  margin-top:-217px;
  padding-top:45px;
  background-color: #fff;
  border-top:7px solid #ee3643;
  z-index: 21;
  box-shadow: 0 20px 30px 20px rgba(0,0,0, .25);
  &__form{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:100%;
  }
  &__header{
    display: flex;
    justify-content:space-between;
    width:460px;
  }
  &__inner{
    display: flex;
    flex-direction:column;
    margin-bottom:20px;
  }
  &__title{
    display: flex;
    font: 18px "Cuprum", sans-serif;
    line-height:1;
    color: #000;
    margin-bottom:10px;
  }
  &__field{
    display: flex;
    width:220px;
    height:38px;
    padding-left:15px;
    font-size:13px;
    border:2px solid #d7dcde;
    border-radius: 3px;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @include placeholder(#999999);
    @include placeholder_font-size(13px);
  }
  &__footer{
    display: flex;
    flex-direction:column;
    width:460px;
  }
  &__message{
    width:100%;
    height:115px;
    margin-bottom:40px;
    resize: none;
    padding-left:15px;
    padding-top:10px;
    outline:none;
    border:2px solid #d7dcde;
    border-radius: 3px;
    color: #000;
    font-size:13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @include placeholder(#999);
    @include placeholder_font-size(13px);
  }
  &__submit-wrapper{
    display: flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:115px;
    background-color: #f1f1f1;
  }
  &__submit-inner{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    width:460px;
  }
  &__submit{
    border:none;
    outline:none;
    cursor: pointer;
  }
  &__close{
    position: absolute;
    top: 10px;
    right:10px;
    width:20px;
    height:20px;
    background-color: transparent;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      width:20px;
      height:5px;
      background-color: #ee3643;
      transform: rotate(-45deg);
    }
    &::before{
      content: '';
      position: absolute;
      width:20px;
      height:5px;
      background-color: #ee3643;
      transform: rotate(45deg);
    }
  }

}
.write-us{
  //opacity: 0;
  display: none;
  z-index: -1;
}
.write-us-show{
  //opacity: 1;
  //display: flex;
  //z-index:21;
  //transition: opacity 0.7s;
}
