.catalog-seo {
  display: flex;
  flex-direction:column;
  justify-content:center;
  min-height:260px;
  background-color: #f2f6f8;
  &__name{
    width:100%;
    margin-bottom:25px;
    font-size:30px;
    line-height:0.8;
    color: #000;
  }
  &__text{
    width:100%;
    font:13px "PT Sans", sans-serif;
    line-height:1.84;
    color: #000;
  }
}