.breadcrumbs{
  display: flex;
  height:60px;
  &__list{
    display: flex;
    margin-left:-40px;
    align-items:center;
  }
  &__item{
    position: relative;
    margin-left:40px;
  }
  &__link{
    position: relative;
    font:13px "PT Sans", sans-serif;
    line-height:1.38;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    &::after{
      content: '';
      position: absolute;
      top: 3px;
      right: -20px;
      width: 6px;
      height: 6px;
      border:2px solid #cdd1d8;
      border-bottom-color: transparent;
      border-left-color: transparent;
      @include rotate(45deg);
    }
    &:hover{
      text-decoration: underline;
    }
    &:active{
      color: #ee3643;
    }
  }
  &__item:last-child &__link::after{
    display: none;
  }
  &__link_active{
    cursor: default;
    color: #000;
    &:hover {
      text-decoration: none;
    }
    &:active{
      color: #000;
    }

  }
  &__link-ico{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url("../../../img/sprite/sprite.png")no-repeat -149px 0;
  }
}