
.catalog-title{
  &__name {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #f2f6f8;
    font-size: 30px;
    line-height: 1;
    color: #32425c;
  }
}
.catalog-wrapper{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}

